* {
    /* 重置浏览器默认样式， */
    margin: 0%;
    padding: 0%;
}

.body {
    margin: 0 auto;
    background-color: #EEEEEE;
}

#nav {
    margin: 20px auto;
    /* 框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节 */
    width: 700px;
    /*框框的宽度*/
    padding: 0px;
    /*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}

li {
    list-style-type: none;
    /* 去掉li前的点 */
    float: right;
    /*将li设置成做浮动，变为联动*/
}

a {
    display: block;
    /*将a变成块状*/
    width: 70px;
    /*设置块的宽度*/
    line-height: 100px;
    /*设置字体在块中的高度*/
    margin: 0px 0px;
    /*块里的高宽通过margin设置*/
    color: black;
    text-align: center;
    /*字体居中*/
    text-decoration: none;
    /*去掉下划线*/
    font-size: 15px;
}

#sec{
    display: block;
    background-color: #CFDACB;
    margin: 20px auto 0 auto;
    /* 框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节 */
    width: 700px;
    /*框框的宽度*/
    padding: 0px;
    /*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/
}
#foo{
    background-color:rgb(231,231,222);
    margin: 0px auto;
    /* 框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节 */
    width: 700px;
    height: 200px;
    /*框框的宽度*/
    text-align: center;
    
}
